<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.mapper.SorttypeMapper">

    <resultMap type="com.module.pojo.Sorttype" id="SorttypeResult">
        <result property="id" column="id"/>
        <result property="sortname" column="sortname"/>
        <result property="intro" column="intro"/>
        <result property="createtime" column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <select id="selectSorttypeList" parameterType="com.module.pojo.Sorttype" resultMap="SorttypeResult">
        select s.id,s.sortname,s.intro,s.createtime from sorttype s
        <where>
        </where>
    </select>
    <select id="selectSorttypeById" parameterType="Integer" resultMap="SorttypeResult">
        select s.*
		from sorttype s
        where s.id = #{id}
    </select>
    <select id="selectAll" resultMap="SorttypeResult">
        select s.*
		from sorttype s
    </select>
    <insert id="insertSorttype" parameterType="com.module.pojo.Sorttype" useGeneratedKeys="true" keyProperty="id">
        insert into sorttype (
        <if test="sortname != null and sortname != '' ">sortname,</if>
        <if test="intro != null and intro != '' ">intro,</if>
        <if test="createtime != null">createtime</if>
        )values(
        <trim prefixOverrides=",">
            <if test="sortname != null and sortname != ''">#{sortname},</if>
            <if test="intro != null and intro != ''">#{intro},</if>
            <if test="createtime != null">#{createtime,jdbcType=TIMESTAMP}</if>
        </trim>
        )
    </insert>

    <insert id="batchAdd" parameterType="com.module.pojo.Sorttype" useGeneratedKeys="true" keyProperty="id">
        insert into sorttype (
        sortname, intro, createtime )values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.sortname}, #{item.intro}, #{item.createtime,jdbcType=TIMESTAMP} )
        </foreach>
    </insert>

    <update id="updateSorttype" parameterType="com.module.pojo.Sorttype">
        update sorttype
        <set>
            <if test="sortname != null and sortname != ''">sortname = #{sortname},</if>
            <if test="intro != null and intro != ''">intro = #{intro},</if>
            <if test="createtime != null">createtime = #{createtime,jdbcType=TIMESTAMP}</if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        update sorttype
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="status =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="sortname != null and sortname != ''">when id=#{item.id} then #{sortname}</if>
                    <if test="intro != null and intro != ''">when id=#{item.id} then #{intro}</if>
                    <if test="createtime != null">when id=#{item.id} then #{createtime,jdbcType=TIMESTAMP}</if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <delete id="deleteSorttypeById" parameterType="Integer">
        delete from sorttype where id = #{value}
    </delete>

    <delete id="batchDeleteSorttype" parameterType="Integer">
        delete from sorttype where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>