<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.mapper.WenjuanMapper">
    
    <resultMap type="com.module.pojo.Wenjuan" id="WenjuanResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="daan" column="daan" />
        <result property="fenshu" column="fenshu" />
        <result property="xuanxiang" column="xuanxiang" />
        <result property="tId" column="t_id" />
        <result property="createtime" column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date"   />
    </resultMap>
    
    
    <select id="selectWenjuanList" parameterType="com.module.pojo.Wenjuan" resultMap="WenjuanResult">
        select s.id,s.name,s.daan,s.fenshu,s.xuanxiang,s.t_id,s.createtime from wenjuan s 
        <where>  
        </where>
    </select>
    <select id="selectWenjuanById" parameterType="Integer" resultMap="WenjuanResult">
        select s.* 
		from wenjuan s 
        where s.id = #{id}
    </select>
    <select id="selectAll" resultMap="WenjuanResult">
        select s.* 
		from wenjuan s 
    </select>
    <insert id="insertWenjuan" parameterType="com.module.pojo.Wenjuan" useGeneratedKeys="true" keyProperty="id">
        insert into wenjuan (
			<if test="name != null and name != '' ">name, </if>
			<if test="daan != null and daan != '' ">daan, </if>
			<if test="fenshu != null and fenshu != '' ">fenshu, </if>
			<if test="xuanxiang != null and xuanxiang != '' ">xuanxiang, </if>
			<if test="tId != null">t_id, </if> 
			<if test="createtime != null">createtime</if> 
        )values(
		<trim  prefixOverrides=",">
			<if test="name != null and name != ''">#{name}, </if>
			<if test="daan != null and daan != ''">#{daan}, </if>
			<if test="fenshu != null and fenshu != ''">#{fenshu}, </if>
			<if test="xuanxiang != null and xuanxiang != ''">#{xuanxiang}, </if>
			<if test="tId != null ">#{tId}, </if>
			<if test="createtime != null">#{createtime,jdbcType=TIMESTAMP}</if>
			</trim>
		)
    </insert>

    <insert id="batchAdd" parameterType="com.module.pojo.Wenjuan" useGeneratedKeys="true" keyProperty="id">
        insert into wenjuan (
name, daan, fenshu, xuanxiang, t_id, createtime        )values
        <foreach item="item" index="index" collection="list" separator=",">
        (
#{item.name}, #{item.daan}, #{item.fenshu}, #{item.xuanxiang}, #{item.tId}, #{item.createtime,jdbcType=TIMESTAMP}		)
		</foreach>
    </insert>
    	 
    <update id="updateWenjuan" parameterType="com.module.pojo.Wenjuan">
        update wenjuan 
        <set>
			<if test="name != null and name != ''">name = #{name}, </if>
			<if test="daan != null and daan != ''">daan = #{daan}, </if>
			<if test="fenshu != null and fenshu != ''">fenshu = #{fenshu}, </if>
			<if test="xuanxiang != null and xuanxiang != ''">xuanxiang = #{xuanxiang}, </if>
            <if test="tId != null">t_id = #{tId}, </if>
            <if test="createtime != null">createtime = #{createtime,jdbcType=TIMESTAMP}</if>
        </set>
        where id = #{id}
    </update>
	
    <update id="batchUpdate" parameterType="java.util.List">
        update wenjuan 
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="status =case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
					<if test="name != null and name != ''">when id=#{item.id} then #{name}</if>
					<if test="daan != null and daan != ''">when id=#{item.id} then #{daan}</if>
					<if test="fenshu != null and fenshu != ''">when id=#{item.id} then #{fenshu}</if>
					<if test="xuanxiang != null and xuanxiang != ''">when id=#{item.id} then #{xuanxiang}</if>
            		<if test="tId != null">when id=#{item.id} then #{tId}</if>
            		<if test="createtime != null">when id=#{item.id} then #{createtime,jdbcType=TIMESTAMP}</if>
       		</foreach>
        </trim>
     </trim>
     where id in
     <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
         #{item.id,jdbcType=BIGINT}
     </foreach>
   </update>

    <delete id="deleteWenjuanById" parameterType="Integer">
        delete from wenjuan where id = #{value}
    </delete>
	
    <delete id="batchDeleteWenjuan" parameterType="Integer">
        delete from wenjuan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
        </foreach>
    </delete>
    
</mapper>